@font-face {
    font-family: 'Seongang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SOGANGUNIVERSITYTTF.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

html , body{
    height: 100%;
    margin: 0;
}

header{
    width: 100%;
    height: 80px;
    background-color: #000;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'NanumGothic';
    position: fixed;
    top: 0;
    z-index: 999;
}

.logo{
    width: 150px;
}

.gnb{
    display: flex;
    gap: 50px;
    white-space: nowrap;
}

.gnb li a{
    color: white;
    font-weight: 700;
}

.header_right{
    display: flex;
    align-items: center;
}

.language{
    width: 24px;
    height: 24px;
    margin-left: 50px;
}

.ham_btn{
    display: none;
}

/* header end */


@media screen and (max-width:1400px) {
    header{
        padding: 0 30px;
    }

    .gnb{
        gap: 30px;
    }

    .language{
        margin-left: 50px;
    }
}


@media screen and (max-width:1200px) {
    .gnb , .atera , .language{
        display: none;
    }

    .ham_btn{
        display: block;
        width: 30px;
        height: 25px;
    }

    .logo{
        width: 130px;
    }
}

@media screen and (max-width:768px){
    header{
        height: 70px;
    }
}

@media screen and (max-width:375px){
    header{
        height: 50px;
    }

    .logo{
        width: 106px;
    }

    .ham_btn{
        width: 20px;
        height: 15px;
    }
}
