*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

img{
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    display: block;
    color: #000;
}
